/* CSS declarations go here */

body {
    font-family: helvetica, arial;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #30B2ED;
}

.center {
    display: inline-block;
    margin: 0 auto;
    width: 1260px;
    display: inline;
}

.export {
    background-color: #fff;
    color: #666;
    padding: 10px;
    border-bottom: solid 1px #2498D0;
    display: none;
}

.export.open {
    display: block;
}

.frame {
    display: inline-block;
    /*border: 1px dashed #666;*/
    margin: 10px;
    padding: 5px;
    width: 270px;
    background-color: #ffffff;
}

.dot {
    width: 15px;
    height: 15px;
    border: 2px dashed #666;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}
.dot.set {
    background-color: orange;
    border: 2px solid orange;
}



.frame-actions {
    padding: 5px;
}

.frame-actions a {
    color: white;
    padding: 8px;
    display: inline-block;
    border-radius: 3px;
    background-color: white;
    color: #666;
    text-decoration: none;
}

.action-export {
    background-color: black;
    position: fixed;
    right: 0;
    top: 0;
    padding: 16px;
    color: #ffffff;
    text-decoration: none;
}